

/* Base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  padding-bottom: 0px; 
}

/* Navigation bar styles */
.navbar {
  position: fixed;
  bottom: 2px;
  left: 5px;
  width: 98%;
  border: 1px solid transparent;
    /* Utiliser transparent pour la bordure par défaut */
    background: linear-gradient(90deg, #F56B2A 0%, #F79A3C 100%);
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 5px 0;
    transition: background 0.3s ease, border 0.3s ease;
    /* Transition douce */
  }
        .navbar.transparent {
          background: linear-gradient(90deg, rgba(245, 107, 42, 0.5) 0%, rgba(247, 154, 60, 0.5) 100%);
          /* Opacité ajustée à 0.5 (50%) pour rendre la couleur transparente */
          border: 1px solid linear-gradient(90deg, rgba(245, 107, 42, 0.5) 0%, rgba(247, 154, 60, 0.5) 100%);
          /* Vous pouvez ajuster la couleur de la bordure si nécessaire */
        }
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: color 0.3s;
  margin-top: 10px;
  position: relative;
}

.nav-margin {
  margin-top: 20px;
}



/* Custom CSS variables for colors */
:root {
  --ion-color-medium: #6c757d;
  --ion-color-primary: #007bff;
}

@media (min-width: 992px) {
  .navbar {
    display: none;
  }
}
i {
  color: #fff;
}



.custom-border {
  width: 90%;
	border: 1px solid #fd7e14; /* Bordure de 2px de large, couleur #333 */
	border-radius: 10px; /* Coins arrondis */
	padding: 10px 20px; /* Espace de remplissage */
	color: #333; /* Couleur du texte */
	background-color: #fff; /* Couleur de fond */
	transition: all 0.3s ease; /* Animation de transition */
  }
  
  .custom-border:hover {
	background-color: #f38a2e; /* Changement de couleur de fond au survol */
	color: #fff; /* Changement de couleur du texte au survol */
  }
  

  .dropdown-menu  {
    width: 100%;
  }

  .dropdown-item{
    margin-left: 18px;
  }


  .offcanvas-header {
    z-index: 2; /* ou une valeur plus élevée si nécessaire */
}