<div class="header_fixed">
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Image</th>
        <th>Nom</th>
        <th class="d-none d-md-table-cell">Description</th>
        <th class="d-none d-sm-table-cell">Prix</th>
        <th class="d-none d-md-table-cell">Date</th>
        <th class="d-none d-md-table-cell">Catégorie</th>
        <th>Actions</th>
        </tr>
        </thead>
        <tbody>
      <tr *ngFor="let product of userProducts; let i = index">
        <td>{{ i + 1 }}</td>
        <td>
          <img [src]="product.images && product.images.length > 0 ? product.images[0].imageUrl : 'default-image-url'"
            [alt]="product.name" alt="">
        </td>
        <td>{{ product.name }}</td>
        <td class="d-none d-md-table-cell">{{ product.description }}</td>
        <td class="d-none d-sm-table-cell">{{ product.price }}</td>
        <td class="d-none d-md-table-cell">{{ product.createDate | date }}</td>
        <td class="d-none d-md-table-cell">{{ product.subCategory }}</td>
        <td>
          <button data-bs-toggle="modal" [attr.data-bs-target]="'#my-modal-' + i">
            <i class="fa-solid fa-trash" style="color: #e9070f;"></i>
          </button>
          <button>
            <i class="fa-solid fa-eye" style="color: #fd7e14;"></i>
          </button>
          </td>
        <div [id]="'my-modal-' + i" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-0">
              <div class="modal-body p-0">
                <div class="card border-0 p-sm-3 p-2 justify-content-center">
                  <div class="card-header pb-0 border-0">
                    <div class="row">
                      <div class="col ml-auto">
                        <i class="close" data-bs-dismiss="modal" aria-label="Close" class="fa-solid fa-square-xmark"></i>
                      </div>
                    </div>
                    <p class="font-weight-bold mb-2"> Confirmation de suppression</p>
                    <p class="text-muted "> Êtes-vous sûr de vouloir supprimer cet élément ?</p>
                  </div>
                  <div class="card-body px-sm-4 mb-2 pt-1 pb-0">
                    <div class="row justify-content-end no-gutters">
                      <div class="col-auto">
                        <button type="button" class="btn btn-light text-muted" data-bs-dismiss="modal">Annuler</button>
                      </div>
                      <div class="col-auto">
                        <button type="button" class="btn btn-danger px-4" (click)="deleteProduct(product)"
                          data-bs-dismiss="modal">Supprimer</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tr>
      </tbody>
      </table>
</div>