
<div class="style">
    <div id="sign_in">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <span>SSOUQI</span>
        <div id="field">
            <label><i class="fas fa-phone"></i></label>
            <input type="tel" formControlName="phoneNumber" placeholder="Numéro de téléphone" required/>
        </div>
        
        <div id="field">
          <label><i class="fas fa-lock"></i></label>
          <input type="password" formControlName="password" placeholder="Mot de passe" required/>
        </div>
  
        <div class="field">
          <a>Mot de passe oublié?</a>
          <input type="submit" value="Se connecter" />
        </div>
      </form>
    </div>
  </div>