

/* signup.component.css */

.style {
    display: grid;
    place-items: center;
    margin: 0 auto;
    min-block-size: 90vh;
    background-image: url(../../../assets/img/pub/wp7347703.webp) ;
    color: #000000;
}

  #sign_in,
  #sign_up {
    inline-size: 90%;
    max-inline-size: 23rem;
    margin-inline: auto;
  }
  
  span {
    color: #eee;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto;
  }
  
  form {
    display: grid;
    gap: 0.875rem;
  }
  #field {
    display: flex;
  }
  
  label,
  input {
    border-radius: 0.35rem;
    padding: 1rem;
    outline: 0;
  }
  
  label {
    background-color: #f38a2e;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  
  .forget{
    color: #fff;
  }
  
  input {
    
    border: 1px solid #f38a2e;
    transition: background-color 0.3s;
    inline-size: 100%;
    color: #000000;
    vertical-align: center;
  }
  
  input::placeholder {
    vertical-align: center;
    
  }
  
  
  input:not(input[type="submit"]):hover,
  input:not(input[type="submit"]):focus {
   
  }
  
  input[type="submit"] {
    
    cursor: pointer;
    background-color: #ffff;
    color: #363636;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
  }
  
  input[type="submit"]:focus,
  input[type="submit"]:hover {
    background-color: #f38a2e;
  }
  
  p {
    margin-block: 1.5rem;
    text-align: center;
  }
  button {
    background: transparent;
    border: none;
  }
  
  a {
    cursor: pointer;
    color: #eee;
    outline: 0;
    text-decoration: none;
    padding: 0 0.3rem;
  }
  
  a:focus,
  a:hover {
    text-decoration: underline;
  }
  
  
  