<header class="section-header">

    <section class="header-main border-bottom">
        <div class="container">
    <div class="row align-items-center">
        <div class="col-lg-2 col-4">
            Ssouqi
        </div>
        <div class="col-lg-6 col-sm-12">
            <form action="#" class="search">
                <div class="input-group w-100">
                    <input type="text" class="form-control" placeholder="Recherche ...">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                </div>
            </form> <!-- search-wrap .end// -->
        </div> <!-- col.// -->
        <div class="col-lg-4 col-sm-6 col-12">
            <div class="widgets-wrap float-md-end">

                <div class="widget-header icontext d-flex align-items-center">
                    <div class="text">
                      <span class="text-muted">Bienvenue!       </span>
                      <div *ngIf="isLoggedIn(); else notLoggedIn">
                        <a>{{ currentUser.name }}</a> |
                        <a (click)="logout()">Se déconnecter    </a>
                      </div>
                      <ng-template #notLoggedIn>
                        <a routerLink="/login">Se connecter</a> |
                        <a routerLink="/signup">Créer un compte</a>
                      </ng-template>
                    </div>
                    <div class="icon-container">
                      <button mat-icon-button [matMenuTriggerFor]="menu" style="background-color: #ffff; margin: -10px; width: 100px;"  >
                        <i class="fas fa-user" style="color: #0d6efd;"></i> <!-- Icône personnalisée -->
                      </button>
                      <mat-menu #menu="matMenu" yPosition="below" xPosition="before">
                        <button mat-menu-item (click)="navigateTo('profile')">
                          Profil
                        </button>
                        <button mat-menu-item (click)="navigateTo('poduit-user')">
                         poduit-utilisateur
                        </button>
                        <button mat-menu-item (click)="navigateTo('settings')">
                            Paramètres
                          </button>
                      </mat-menu>
                    </div>
                  </div>
                  
                  
                  
                
                  
            </div> <!-- widgets-wrap.// -->
        </div> <!-- col.// -->
    </div> <!-- row.// -->
        </div> <!-- container.// -->
    </section> <!-- header-main .// -->

    <nav class="navbar navbar-expand-custom navbar-mainbg">
        <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home"><i class="fa-solid fa-house"></i>Accueil</a>
                </li>
                <li class="nav-item" *ngFor="let category of categories">
                    <a class="nav-link" [routerLink]="['/products', category.id]">
                        <i [ngClass]="categoryIconMappings[category.name]"></i>{{ category.name }}
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    