<div class="container-xl px-4 mt-4">
  <hr class="mt-0 mb-4 form-card">
  <div class="card mb-4 form-card">
    <div class="card-header">{{ 'inscription.create_new_account' | translate }}</div>
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <!-- Afficher le message d'erreur -->
        <div *ngIf="errorMessage" class="mb-3">
          <div class="alert alert-danger" role="alert">
            {{ errorMessage }}
          </div>
        </div>

        <div class="mb-3">
          <label class="small mb-1" for="name">{{ 'inscription.username' | translate }}</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input class="form-control" id="name" formControlName="name" type="text"
              placeholder="{{ 'inscription.enter_username' | translate }}" required>
          </div>
          <div *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)">
            <small class="text-danger">{{ 'inscription.username_required' | translate }}</small>
          </div>
        </div>

        <div class="mb-3">
          <label class="small mb-1" for="email">{{ 'inscription.email' | translate }}</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div>
            <input class="form-control" id="email" formControlName="email" type="email"
              placeholder="{{ 'inscription.enter_email' | translate }}" required>
          </div>
          <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">
            <small class="text-danger">{{ 'inscription.email_required' | translate }}</small>
          </div>
        </div>

        <div class="mb-3">
          <label class="small mb-1" for="phoneNumber">{{ 'inscription.phone_number' | translate }}</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-phone"></i></span>
            </div>
            <input class="form-control" id="phoneNumber" formControlName="phoneNumber" type="tel"
              placeholder="{{ 'inscription.enter_phone_number' | translate }}" required>
          </div>
          <div *ngIf="registerForm.get('phoneNumber')?.invalid && (registerForm.get('phoneNumber')?.dirty || registerForm.get('phoneNumber')?.touched)">
            <small class="text-danger">{{ 'inscription.phone_number_required' | translate }}</small>
          </div>
        </div>

        <div class="mb-3">
          <label class="small mb-1" for="password">{{ 'inscription.password' | translate }}</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-lock"></i></span>
            </div>
            <input class="form-control" id="password" formControlName="password" type="password"
              placeholder="{{ 'inscription.enter_password' | translate }}" required>
          </div>
          <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
            <small class="text-danger">{{ 'inscription.password_required' | translate }}</small>
          </div>
        </div>

        <div class="d-flex justify-content-end mb-3">
          <button class="btn btn-primary custom-border" type="submit">{{ 'inscription.create_account' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
