
<div class="style">
  <div id="sign_in">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <span>SSOUQI</span>

      <div id="field">
        <label><i class="fas fa-user"></i></label>
        <input type="text" formControlName="name" placeholder="Nom utilisateur" required />
      </div>

      <div id="field">
        <label><i class="fas fa-user"></i></label>
        <input type="email" formControlName="email" placeholder="E-mail" required />
      </div>

      <div id="field">
        <label><i class="fas fa-phone"></i></label>
        <input type="tel" formControlName="phone" placeholder="Numéro de téléphone" required />
      </div>

      <div id="field">
        <label><i class="fas fa-lock"></i></label>
        <input type="password" formControlName="password" placeholder="Mot de passe" required />
      </div>

      <div class="field">
        <input type="submit" value="Créer nouveau compte" />
      </div>
    </form>
  </div>
</div>
