/* Style pour les écrans plus grands */
.form-card {
  width: 100%; /* Par défaut, pleine largeur */
  max-width: 800px; /* Largeur maximale sur les grands écrans */
  margin: 0 auto; /* Centrer horizontalement */
}

/* Style des cartes */
.card-header {
  font-weight: 500;
  padding: 1rem 1.35rem;
  margin-bottom: 0;
  background-color: rgba(33, 40, 50, 0.03);
  border-bottom: 1px solid #fd7e14;
}

.card-header:first-child {
  border-radius: 0.35rem 0.35rem 0 0;
}

.custom-border {
  border: 1px solid #fd7e14; /* Bordure de 2px de large, couleur #333 */
  border-radius: 10px; /* Coins arrondis */
  padding: 10px 20px; /* Espace de remplissage */
  color: #333; /* Couleur du texte */
  background-color: #fff; /* Couleur de fond */
  transition: all 0.3s ease; /* Animation de transition */
}

.custom-border:hover {
  background-color: #f38a2e; /* Changement de couleur de fond au survol */
  color: #fff; /* Changement de couleur du texte au survol */
}

.input-group {
  display: flex;
  align-items: center;
}


.form-control {
  border-left: none;
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #69707a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #fd7e14;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group .form-control:focus {
  z-index: 3;
}

.input-group .input-group-prepend .input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-prepend .input-group-text, 
.form-control {
  height: calc(2.25rem + 2px); /* Ensuring the same height for both */
  line-height: 1.5;
}





.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-group {
  display: flex;
  align-items: center;
}




button {
  background-color: #fff; /* Orange color */
  color: #000;
  border-radius: 10px;
  width: 100%;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}








.pro-img-list a {
  display: inline-block; /* Pour que les liens d'image se comportent comme des blocs */
  max-width: 100px; /* Largeur maximale des images */
  max-height: 100px; /* Hauteur maximale des images */
  overflow: hidden; /* Masquer tout débordement d'image */
  margin-right: 10px; /* Marge entre les images */
}

