<div class="container-xl px-4 mt-4">
    <hr class="mt-0 mb-4">

            <!-- Carte de suppression de compte -->
            <div class="card mb-4">
                <div class="card-header">Supprimer le compte</div>
                <div class="card-body">
                    <p>La suppression de votre compte est une action permanente et ne peut pas être annulée. Si vous êtes sûr de vouloir supprimer votre compte, sélectionnez le bouton ci-dessous.</p>
                    <button class="btn btn-danger-soft text-danger" type="button">Je comprends, supprimez mon compte</button>
                </div>

    </div>
</div>