
  
  .carousel-image {
	width: 100%; /* L'image occupe toute la largeur du conteneur */
	height: 500px; /* Hauteur fixe pour toutes les images */

  }

  .carousel-container { /* Ajustez la marge supérieure pour éviter que le carousel ne soit caché sous la navbar */
	position: relative; /* Assurez-vous que le carousel est positionné relativement */
	z-index: -1; /* Assurez-vous que le z-index est inférieur à celui de votre navbar pour que la navbar soit au-dessus */
	/* Autres styles de votre carousel */
  }