<!--
<carousel>
    <slide>
      <div class="row"  style="width: 150%; height: 500px; margin-left: 10px;">
        <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
          <div class="row h-40">
            <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
              <div class="box">
                <carousel [interval]="3000" class="inner-carousel"  >
                  <slide>
                    <img src="../../assets/img/pub/Bankily-1-1920X700-Vf.jpg" class="img-fluid rounded ">
                  </slide>
                  <slide>
                    <img src="../../assets/img/pub/site-Bankily-1920x700-f.jpg" class="img-fluid rounded ">
                  </slide>
                  <slide>
                    <img src="../../assets/img/pub/unnamed.jpg" class="img-fluid rounded ">
                  </slide>
                  <slide>
                    <img src="../../assets/img/pub/og.jpg" class="img-fluid rounded ">
                  </slide>
                  <slide>
                    <img src="../../assets/img/pub/bmci-512x334.jpg" class="img-fluid rounded ">
                  </slide>
                </carousel>
              </div>
            </div>
          </div>
        </div>


      </div>
    </slide>
  </carousel>
  
      -->
      <!-- <div class="col-md-4 col-sm-6 co-xs-12 gal-item "  style=" height: 250px;" >
          <div class="col-md-12 col-sm-6 co-xs-12 gal-item " >
            <div class="box">
              <carousel [interval]="3000">
                <slide>
                  <img src="../assets/img/categories/category-7.jpg" class="img-fluid rounded ">
                </slide>
                <slide>
                  <img src="../../assets/img/pub/1.png" class="img-fluid rounded ">
                </slide>
                <slide>
                  <img src="../../assets/img/pub/2.jpg" class="img-fluid rounded ">
                </slide>
                <slide>
                  <img src="../../assets/img/pub/4.jpg" class="img-fluid rounded ">
                </slide>
                <slide>
                  <img src="../../assets/img/pub/1634123546-skaleet-x-masrvi-fr.png" class="img-fluid rounded ">
                </slide>
              </carousel>
              
            </div>
            
            
          </div>
        </div>

--> 
        

        
        


<div class="container-fluid produit py-4">
  <div class="col-md-12">
    <div class="tab-class text-center carousel-container">

<carousel>
  <slide *ngFor="let slide of slides">
    <img [src]="slide.image" alt="Slide image" class="carousel-image" >
  </slide>
</carousel>

</div>
</div>
</div>