
  
  .carousel-image {
	width: 100%; /* L'image occupe toute la largeur du conteneur */
	height: 500px; /* Hauteur fixe pour toutes les images */
	object-fit:fill; /* Remplit le conteneur, en coupant les bords si nécessaire, pour conserver l'aspect ratio */
  }