.title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    max-width: 100%; /* Limiter la largeur du titre à 100% de son conteneur */
    overflow: hidden; /* Masquer tout contenu dépassant de la zone */
    text-overflow: ellipsis; /* Ajouter des points de suspension pour indiquer qu'il y a plus de contenu que ce qui est visible */
    white-space: nowrap; /* Empêcher le texte de se mettre à la ligne */
}
.bootdey .box-product-outer {
    /* width: calc(20% - 10px); /* Pour que chaque produit occupe 25% de la largeur de son conteneur */
    margin-bottom: 25px;
    border-radius: 5px;
    border: 1px solid #f38a2e;
}

.padding-bottom-sm {
    padding-bottom: 10px;
}

.box-product-outer {
    width: calc(18% - 40px);
    margin-right: 10px;
    margin-bottom: 20px;
}

@media (max-width: 1199.98px) {
    .box-product-outer {
        width: calc(33.33% - 10px);
    }
}

@media (max-width: 991.98px) {
    .box-product-outer {
        width: calc(50% - 10px);
    }
}

@media (max-width: 767.98px) {
    .box-product-outer {
        width: calc(50% - 10px);
    }
}

.box-product-outer:hover {
    outline: 1px solid #aaa;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.tab-content .box-product-outer {
    margin-bottom: 0;
}

.box-product-slider-outer {
    padding: 10px;
}

.box-product .img-wrapper {
    position: relative;
    overflow: hidden;
}

.box-product .img-wrapper > :first-child {
    position: relative;
    display: block;
}

.box-product .img-wrapper > a > img {
    width: 100%;
    align-self: flex-end;
    border-radius: 50px;
}



.box-product .img-wrapper .tags-left {
    left: 0;
    direction: ltr;
}

.box-product .img-wrapper .tags > .label-tags {
    display: table;
    margin: 1px 0 0 0;
    text-align: left;
    opacity: .92;
    filter: alpha(opacity=92);
    direction: ltr;
}

.box-product .img-wrapper .tags > .label-tags:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.box-product .img-wrapper .tags > .label-tags a:hover {
    text-decoration: none;
}


.box-product .img-wrapper .option > a {
    font-size: 18px;
    font-weight: normal;
    display: inline-block;
    padding: 0 1px;
    color: #fff;
}

.box-product .img-wrapper img {
    margin-top: 10px;
    width: 100%;
    height: 100px;
    object-fit: cover;
}





.nameproduct {
    margin-top: 10px;
    font-size: 1.0em;
    color: #000;
    max-width: 100%; /* Limiter la largeur du titre à 100% de son conteneur */
    overflow: hidden; /* Masquer tout contenu dépassant de la zone */
    text-overflow: ellipsis; /* Ajouter des points de suspension pour indiquer qu'il y a plus de contenu que ce qui est visible */
    white-space: nowrap; /* Empêcher le texte de se mettre à la ligne */
    

}

.box-product {
    display: flex; /* Utilise flexbox pour aligner les éléments enfants */
    flex-direction: column; /* Aligner les éléments enfants verticalement */
    align-items: center; /* Centrer les éléments enfants horizontalement */
    justify-content: flex-start; /* Aligner les éléments enfants en haut */
}

.price {
    text-align: center;
    background-color: #f38a2e;
    color: #fff;
    padding: 5px 10px;
    border-top-left-radius: 15px ;
    border-top-right-radius: 15px ;
    font-size: 14px;
    z-index: 1; 
}


.eyes {
    /*display: flex; 
    align-items: center; 
    margin-left: 40%;
    margin-bottom: 10px;
    background-color:#5161ce ;*/
    align-self: flex-end;
    margin-left: 40%;
    color: #000;
    padding: 5px 10px;
    font-size: 14px;
    margin-right: auto;
    z-index: 1; 
}




.produit .produit-item:hover {
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
}

.produit .produit-item .produit-img {
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px 10px 0 0;
}

.produit .produit-item .produit-img img {
    transition: 0.5s;
}

.produit .produit-item .produit-img img:hover {
    transform: scale(1.3);
}

/*** Produits End ***/
.produit-img img {
    width: 150px; /* Largeur fixe */
    height: 200px; /* Hauteur fixe */
    object-fit: cover; /* Redimensionne l'image pour remplir les dimensions spécifiées sans déformer */
}


.price-border {
    border-right: 1px solid #ced4da; /* Couleur de la bordure */
    padding-right: 5px; /* Espace entre le prix et la bordure */
  }


  .product-border {
    border: 1px solid #fd7e14; /* Bordure de 1px, couleur #fd7e14 */
    border-radius: 10px; /* Coins arrondis */
    color: #fff; /* Couleur du texte */
    background-color: #f38a2e; /* Couleur de fond */
    transition: all 0.3s ease; /* Animation de transition */
    margin-top: 10px;
}

h6{
    
    margin-right: 250px;
}



  .products-border {
    border: 1px solid #fd7e14; /* Bordure de 1px, couleur #fd7e14 */
    border-top: 0;
}

/*----------no products--------------*/
.clearfix:before,
.clearfix:after {
    display: table;

    content: ' ';
}
.clearfix:after {
    clear: both;
}
body {
    background: #f0f0f0 !important;
}
.page-404 .outer {
    position: absolute;
    top: 0;

    display: table;

    width: 100%;
    height: 100%;
}
.page-404 .outer .middle {
    display: table-cell;

    vertical-align: middle;
}
.page-404 .outer .middle .inner {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}
.page-404 .outer .middle .inner .inner-circle {
    height: 300px;

    border-radius: 50%;
    background-color: #ffffff;
}
.page-404 .outer .middle .inner .inner-circle:hover i {
    color: #39bbdb!important;
    background-color: #f5f5f5;
    box-shadow: 0 0 0 15px #39bbdb;
}
.page-404 .outer .middle .inner .inner-circle:hover span {
    color: #39bbdb;
}
.page-404 .outer .middle .inner .inner-circle i {
    font-size: 5em;
    line-height: 1em;

    float: right;

    width: 1.6em;
    height: 1.6em;
    margin-top: -.7em;
    margin-right: -.5em;
    padding: 20px;

    -webkit-transition: all .4s;
            transition: all .4s;
    text-align: center;

    color: #f5f5f5!important;
    border-radius: 50%;
    background-color: #39bbdb;
    box-shadow: 0 0 0 15px #f0f0f0;
}
.page-404 .outer .middle .inner .inner-circle span {
    font-size: 11em;
    font-weight: 700;
    line-height: 1.2em;

    display: block;

    -webkit-transition: all .4s;
            transition: all .4s;
    text-align: center;

    color: #e0e0e0;
}
.page-404 .outer .middle .inner .inner-status {
    font-size: 20px;

    display: block;

    margin-top: 20px;
    margin-bottom: 5px;

    text-align: center;

    color: #39bbdb;
}
.page-404 .outer .middle .inner .inner-detail {
    line-height: 1.4em;

    display: block;

    margin-bottom: 10px;

    text-align: center;

    color: #999999;
}

/*-----pagination */
body {
    background-color: #ff4242;
    font-family: 'Lora', serif;
  }
  
  h2 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-family: 'Lora', serif;
    font-weight: 700;
    margin-top: 60px;
    text-shadow: 0 5px 8px rgba(0, 0, 0, .25);
  }
  
  h2 span {
    font-weight: 400;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;  /* Adjust the margin as needed */
    padding: 10px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .5);
  }
  
  .pagination li {
    display: inline-block;
    list-style: none;
  }
  
  .pagination a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    color: #252525;
    border-radius: 4px;
    margin: 5px;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, .1), 0 2px 5px rgba(0, 0, 0, .5);
    transition: all .3s ease;
  }
  
  .pagination a:hover,
  .pagination a.active {
    color: #fff;
    background-color: #fd7e14;
  }
  
  .pagination li:first-child a {
    border-radius: 40px 0 0 40px;
  }
  
  .pagination li:last-child a {
    border-radius: 0 40px 40px 0;
  }
  /*------fin pagination */