body{margin-top:20px;
    background-color:#f2f6fc;
    color:#69707a;
    }
    .img-account-profile {
        height: 10rem;
    }
    .rounded-circle {
        border-radius: 50%  !important ;
    }
    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }
    .card .card-header {
        font-weight: 500;
    }
    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }
    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid #fd7e14;
    
    

    }

.custom-border {
	border: 1px solid #fd7e14; /* Bordure de 2px de large, couleur #333 */
	border-radius: 10px; /* Coins arrondis */
	padding: 10px 20px; /* Espace de remplissage */
	color: #333; /* Couleur du texte */
	background-color: #fff; /* Couleur de fond */
	transition: all 0.3s ease; /* Animation de transition */
  }
  
  .custom-border:hover {
	background-color: #f38a2e; /* Changement de couleur de fond au survol */
	color: #fff; /* Changement de couleur du texte au survol */
  }
  