<div class="container-xl px-4 mt-4">
    <hr class="mt-0 mb-4">
    <div class="card mb-4">
      <div class="card-header">Changer le mot de passe</div>
      <div class="card-body">
        <div *ngIf="errorMessage" class="mb-3">
            <div class="alert alert-danger" role="alert">
              {{ errorMessage }}
            </div>
          </div>
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label class="small mb-1" for="currentPassword">Mot de passe actuel</label>
            <input class="form-control" id="currentPassword" formControlName="currentPassword" type="password" placeholder="Entrez le mot de passe actuel">
            <div *ngIf="changePasswordForm.get('currentPassword')?.invalid && (changePasswordForm.get('currentPassword')?.dirty || changePasswordForm.get('currentPassword')?.touched)">
              <small class="text-danger">Mot de passe actuel requis</small>
            </div>
          </div>
          <div class="mb-3">
            <label class="small mb-1" for="newPassword">Nouveau mot de passe</label>
            <input class="form-control" id="newPassword" formControlName="newPassword" type="password" placeholder="Entrez le nouveau mot de passe">
            <div *ngIf="changePasswordForm.get('newPassword')?.invalid && (changePasswordForm.get('newPassword')?.dirty || changePasswordForm.get('newPassword')?.touched)">
              <small class="text-danger">Nouveau mot de passe requis (minimum 6 caractères)</small>
            </div>
          </div>
          <div class="mb-3">
            <label class="small mb-1" for="retypedPassword">Confirmez le nouveau mot de passe</label>
            <input class="form-control" id="retypedPassword" formControlName="retypedPassword" type="password" placeholder="Confirmez le nouveau mot de passe">
            <div *ngIf="changePasswordForm.get('retypedPassword')?.invalid && (changePasswordForm.get('retypedPassword')?.dirty || changePasswordForm.get('retypedPassword')?.touched)">
              <small class="text-danger">Confirmez le nouveau mot de passe</small>
            </div>
          </div>
          <button class="btn btn-primary custom-border" type="submit">Enregistrer</button>
        </form>
      </div>
    </div>
  </div>
  