<div class="container-xl px-4 mt-4">
  <hr class="mt-0 mb-4">
  <div class="card mb-4">
    <div class="card-header">{{ 'forgot-password.header' | translate }}</div>
    <div class="card-body">
      <div *ngIf="errorMessage" class="mb-3">
        <div class="alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>
      </div>
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label class="small mb-1" for="currentPassword">{{ 'forgot-password.current_password_label' | translate }}</label>
          <input class="form-control" id="currentPassword" formControlName="currentPassword" type="password"
            placeholder="{{ 'forgot-password.current_password_placeholder' | translate }}">
          <div
            *ngIf="changePasswordForm.get('currentPassword')?.invalid && (changePasswordForm.get('currentPassword')?.dirty || changePasswordForm.get('currentPassword')?.touched)">
            <small class="text-danger">{{ 'forgot-password.current_password_error' | translate }}</small>
            </div>
            </div>
            <div class="mb-3">
          <label class="small mb-1" for="newPassword">{{ 'forgot-password.new_password_label' | translate }}</label>
          <input class="form-control" id="newPassword" formControlName="newPassword" type="password"
            placeholder="{{ 'forgot-password.new_password_placeholder' | translate }}">
          <div
            *ngIf="changePasswordForm.get('newPassword')?.invalid && (changePasswordForm.get('newPassword')?.dirty || changePasswordForm.get('newPassword')?.touched)">
            <small class="text-danger">{{ 'forgot-password.new_password_error' | translate }}</small>
            </div>
            </div>
            <div class="mb-3">
          <label class="small mb-1" for="retypedPassword">{{ 'forgot-password.retyped_password_label' | translate }}</label>
          <input class="form-control" id="retypedPassword" formControlName="retypedPassword" type="password"
            placeholder="{{ 'forgot-password.retyped_password_placeholder' | translate }}">
          <div
            *ngIf="changePasswordForm.get('retypedPassword')?.invalid && (changePasswordForm.get('retypedPassword')?.dirty || changePasswordForm.get('retypedPassword')?.touched)">
            <small class="text-danger">{{ 'forgot-password.retyped_password_error' | translate }}</small>
            </div>
            </div>
        <button class="btn btn-primary custom-border" type="submit">{{ 'forgot-password.submit_button' | translate }}</button>
        </form>
        </div>
        </div>
        </div>