
<div>
    <section class="categories">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 p-0">
            <div class="categories__item categories__large__item position-relative">
              <img src="../assets/img/categories/category-6.jpg" alt="Mode Femme">
              <div class="categories__text position-absolute ">
                <h1>Mode Femme</h1>
                <a href="#">ACHETEZ MAINTENANT</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                <div class="categories__item position-relative">
                  <img src="../assets/img/categories/category-2.jpg" alt="Mode Homme" height="369px" >
                  <div class="categories__text position-absolute ">
                    <h4>Mode Homme</h4>
                    <a href="#">ACHETEZ MAINTENANT</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                <div class="categories__item position-relative">
                  <img src="../assets/img/categories/category-3.jpg" alt="Mode Enfant" height="369px">
                  <div class="categories__text position-absolute ">
                    <h4>Mode Enfant</h4>
                    <a href="#">ACHETEZ MAINTENANT</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                <div class="categories__item position-relative">
                  <img src="../assets/img/categories/category-7.jpg" alt="Technologie" height="369px">
                  <div class="categories__text position-absolute ">
                    <h4>Technologie</h4>
                    <a href="#">ACHETEZ MAINTENANT</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                <div class="categories__item position-relative">
                  <img src="../assets/img/categories/category-8.jpg" alt="Maison & Jardin" height="369px">
                  <div class="categories__text position-absolute ">
                    <h4>Maison & Jardin</h4>
                    <a href="#">ACHETEZ MAINTENANT</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>



 <div class="container bootdey">
            <div class="row">
                <div class="col-md-12">
                    <div class="title"><span>Products</span></div>
                    <div class="row" >
                        <!-- Utilisez une boucle pour afficher chaque produit -->
                        <div [routerLink]="['/product-details', product.id]" class="col-sm-3 col-md-3 col-lg-3 box-product-outer" *ngFor="let product of products" style="background-color: #F56B2A;">
                            <div class="box-product" >
                                <div class="img-wrapper">
                                    <a href="detail.html">
                                        <img [src]="product.images && product.images.length > 0 ? product.images[0].imageUrl : 'default-image-url'" [alt]="product.name" style="width: 100%">
                                    </a>
                                    <div class="tags">
                                          <!-- 
                                        <span class="label-tags" *ngFor="let tag of product.tags"><span class="label label-{{tag.class}}">{{tag.name}}</span></span>
                                        ---->
                                    </div>
                                    <div class="option">
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Wishlist"><i class="ace-icon fa fa-heart"></i></a>
                                    </div>
                                </div>
                                <div class="nameproduct">
                                  <p href="detail.html">{{product.name}}</p>
                                 
                                </div>
                              <div class="eyes">
                                  <i class="fa fa-eye fa-xs"> Vue: {{ product.hit }} </i>
                              </div>


                                    <div class="price">{{product.price + " MRU"}}</div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>