.custom-border {
    border: 1px solid #fd7e14; /* Bordure de 1px, couleur #fd7e14 */
    border-radius: 10px; /* Coins arrondis */
    color: #333; /* Couleur du texte */
    background-color: #fff; /* Couleur de fond */
    transition: all 0.3s ease; /* Animation de transition */
}

.custom-border:hover {
    background-color: #f38a2e; /* Changement de couleur de fond au survol */
    color: #fff; /* Changement de couleur du texte au survol */
}




.categories .container-fluid {
	padding-right: 5px;
}



.categories__item.categories__large__item .categories__text p {
	margin-bottom: 15px;
}




#text{
    margin-top: 300px;
  
}


.categories__text a {
	font-size: 14px;
	color: #111111;
	text-transform: uppercase;
	font-weight: 600;
	position: relative;
	padding: 0 0 3px;
	display: inline-block;
}

.categories__text a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 100%;
	background: #ca1515;
	content: "";
}


/*//////////////produit//////////////////////*/

/*//////////////produit//////////////////////*/

.title {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    max-width: 100%; /* Limiter la largeur du titre à 100% de son conteneur */
    overflow: hidden; /* Masquer tout contenu dépassant de la zone */
    text-overflow: ellipsis; /* Ajouter des points de suspension pour indiquer qu'il y a plus de contenu que ce qui est visible */
    white-space: nowrap; /* Empêcher le texte de se mettre à la ligne */
}


















.box-product .img-wrapper img {
    margin-top: 10px;
    width: 100%;
    height: 100px;

}





.localisation  i {
    font-size: 0.8em;
}




/*------category*/

  
@media (min-width: 1200px) {
    .col-lg-1-5 {
      flex: 0 0 auto;
      width: 12.5%;
    }
  }

/*** Fruits Start ***/





.produit .produit-item:hover {
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
}

.produit .produit-item .produit-img {
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px 10px 0 0;
}

.produit .produit-item .produit-img img {
    transition: 0.5s;
}

.produit .produit-item .produit-img img:hover {
    transform: scale(1.3);
}

/*** Produits End ***/
.produit-img img {
    width: 150px;
        height: 150px;
    object-fit: cover; /* Redimensionne l'image pour remplir les dimensions spécifiées sans déformer */
}

.rounded-image {
    border-radius: 50%;
    /* Pour rendre l'image ronde */
    overflow: hidden;
    /* Pour cacher la partie de l'image en dehors de la bordure */
    width: 25px;
    /* Ajustez la largeur de l'image à vos besoins */
    height: 25px;
    /* Ajustez la hauteur de l'image à vos besoins */
}


/* Conteneur NgbCarousel avec défilement horizontal */
.ngb-carousel {
    overflow-x: auto;
    /* Autoriser le défilement horizontal */
    white-space: nowrap;
    /* Empêcher le renvoi à la ligne des éléments */
    margin-bottom: 15px;
    /* Ajouter un espace en bas du carrousel */
}

/* Conteneur de la diapositive */
.ngb-carousel-inner {
    display: inline-block;
    /* Afficher les diapositives côte à côte */
    vertical-align: top;
    /* Aligner les diapositives en haut de la ligne */
}

/* Diapositive */
.carousel-item {
    width: auto !important;
    /* Réinitialiser la largeur pour permettre le contenu à l'intérieur de la diapositive */
    flex: 0 0 auto !important;
    /* Réinitialiser le comportement de flex pour la diapositive */
}

/* Styles pour l'icône de contrôle "suivant" du NgbCarousel */
/* Styles pour l'icône de contrôle "précédent" du NgbCarousel */

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: rgba(0, 0, 0, 0.5);
    /* Couleur d'arrière-plan semi-transparente */
}


/* Style pour l'indicateur actif */
ngb-carousel::ng-deep .carousel-indicators [data-bs-target] {
    background-color: #fd7e14;
    margin-top: 50px;
    /* Couleur de fond de l'indicateur actif */
}

/* Style pour l'indicateur actif */
ngb-carousel::ng-deep .carousel-indicators [data-bs-target].active {
    background-color: #fd7e14;
    /* Couleur de fond de l'indicateur actif */
}

.product-border {
    font-size: 90%;
        color: #fff;
        border-radius: 9px 0 0 0px;
        /* Coins arrondis en haut à droite et en bas à droite */
        background: #F56B2A;
        letter-spacing: 0px;
        background: linear-gradient(90deg, #F56B2A 0%, #F79A3C 100%);
        width: 50%;
        /* Prendre 50% de la largeur du conteneur parent */
        margin-left: auto;
    }


  .products-border {
    border: 1px solid #fd7e14; /* Bordure de 1px, couleur #fd7e14 */
    border-top: 0;
}


/* CSS pour les boutons de navigation */
.btn-nav {
    border: 1px solid #fff;
    background-color: #fd7e14;
    color: #fff;
        /* Ajout de la couleur du texte */
        width: 30px;
        /* Largeur du bouton */
        height: 30px;
        /* Hauteur du bouton */
        border-radius: 50%;
        /* Bord arrondi pour créer un bouton rond */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
        /* Positionnement au centre vertical */
        transform: translateY(-50%);
        /* Décalage pour centrer exactement */
        z-index: 999;
        /* Assurez-vous que les boutons sont au-dessus du contenu */
        cursor: pointer;
        /* Curseur indiquant que le bouton est cliquable */
}


.btn-nav:hover {
    background-color: #f38a2e; /* Changement de couleur de fond au survol */
    /* Changement de couleur du texte au survol */
    border: 1px solid #fff;
}


/* Positionnement des boutons gauche et droit */
.left-nav {
    left: 0;
    z-index: 999
}

.right-nav {
    right: 0;
}

/* Styles pour permettre le défilement horizontal */
.products-row {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth; /* Animation de défilement lisse */
}
.carousel-horizontal {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}



/* CSS pour réduire l'espace entre les produits */
.produit-item {
    margin: 0; /* Enlevez toute marge supplémentaire */
    padding: 0; /* Ajustez le padding pour contrôler l'espace interne */
  }
  
  .products-row .col-6, .products-row .col-sm-4, .products-row .col-md-4, .products-row .col-lg-3, .products-row .col-xl-2 {
    padding: 3px;
  }
  

  .carousel-item img {
    max-width: 100%; /* La largeur maximale de l'image est de 100% de la largeur du parent */
    height: 200px;
        /* La hauteur s'ajuste automatiquement pour conserver les proportions */
    
    }


                                                                .px-1 {
                                                                    padding-right: 0.2rem !important;
                                                                    padding-left: 0.2rem !important;
                                                                }
                                
                                                                /*-----------------------*/
