.custom-border {
    border: 1px solid #fd7e14; /* Bordure de 1px, couleur #fd7e14 */
    border-radius: 10px; /* Coins arrondis */
    color: #333; /* Couleur du texte */
    background-color: #fff; /* Couleur de fond */
    transition: all 0.3s ease; /* Animation de transition */
}

.custom-border:hover {
    background-color: #f38a2e; /* Changement de couleur de fond au survol */
    color: #fff; /* Changement de couleur du texte au survol */
}


.categories {
	overflow: hidden;
	margin-top: 0px;
}


.categories .container-fluid {
	padding-right: 5px;
}

.categories__item {
	height: 314px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-left: 0px;
	margin-bottom: 10px;
	margin-right: 0px;
}


.categories__item.categories__large__item {
	height: 638px;
	padding-left: 0px;
}

.categories__item.categories__large__item .categories__text {
	max-width: 480px;
}

.categories__item.categories__large__item .categories__text p {
	margin-bottom: 15px;
}


.categories__text h1 {
	font-family: "Cookie", cursive;
	color: #111111;
	margin-bottom: 5px;
}

.categories__text h4 {
	color: #111111;
	font-weight: 700;
    margin-top: 20px;
    
}

#text{
    margin-top: 300px;
  
}


.categories__text a {
	font-size: 14px;
	color: #111111;
	text-transform: uppercase;
	font-weight: 600;
	position: relative;
	padding: 0 0 3px;
	display: inline-block;
}

.categories__text a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 100%;
	background: #ca1515;
	content: "";
}


/*//////////////produit//////////////////////*/

/*//////////////produit//////////////////////*/

.title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    max-width: 100%; /* Limiter la largeur du titre à 100% de son conteneur */
    overflow: hidden; /* Masquer tout contenu dépassant de la zone */
    text-overflow: ellipsis; /* Ajouter des points de suspension pour indiquer qu'il y a plus de contenu que ce qui est visible */
    white-space: nowrap; /* Empêcher le texte de se mettre à la ligne */
}




@media (max-width: 767.98px) {
    .products-row .col-6, 
    .products-row .col-sm-4, 
    .products-row .col-md-3, 
    .products-row .col-lg-2 {
      padding: 0; /* Enlever le padding */
    }
  }
  


.tab-content .box-product-outer {
    margin-bottom: 0;
}

.box-product-slider-outer {
    padding: 10px;
}













.box-product .img-wrapper img {
    margin-top: 10px;
    width: 100%;
    height: 100px;

}





.localisation  i {
    font-size: 0.8em;
}

.box-product {
    display: flex; /* Utilise flexbox pour aligner les éléments enfants */
    flex-direction: column; /* Aligner les éléments enfants verticalement */
    align-items: center; /* Centrer les éléments enfants horizontalement */
    justify-content: flex-start; /* Aligner les éléments enfants en haut */
}

.price {
    text-align: center;
    background-color: #f38a2e;
    color: #fff;
    padding: 5px 10px;
    border-top-left-radius: 15px ;
    border-top-right-radius: 15px ;
    font-size: 14px;
    z-index: 1; 
}


/*------category*/

  
@media (min-width: 1200px) {
    .col-lg-1-5 {
      flex: 0 0 auto;
      width: 12.5%;
    }
  }

/*** Fruits Start ***/





.produit .produit-item:hover {
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
}

.produit .produit-item .produit-img {
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px 10px 0 0;
}

.produit .produit-item .produit-img img {
    transition: 0.5s;
}

.produit .produit-item .produit-img img:hover {
    transform: scale(1.3);
}

/*** Produits End ***/
.produit-img img {
    width: 100px;
        /* Largeur fixe */
        height: 100px;
        /* Hauteur fixe */
    object-fit: cover; /* Redimensionne l'image pour remplir les dimensions spécifiées sans déformer */
}


.price-border {
    border-right: 1px solid #ced4da; /* Couleur de la bordure */
    padding-right: 5px; /* Espace entre le prix et la bordure */
  }


  .product-border {
    border: 1px solid #fd7e14; /* Bordure de 1px, couleur #fd7e14 */
    border-radius: 10px; /* Coins arrondis */
    color: #fff; /* Couleur du texte */
    background-color: #f38a2e; /* Couleur de fond */
 
    margin-top: 5px;
}



  .products-border {
    border: 1px solid #fd7e14; /* Bordure de 1px, couleur #fd7e14 */
    border-top: 0;
}


/* CSS pour les boutons de navigation */
.btn-nav {
    width: 5%;
    height: 50px;
    margin-top: 170px;
    border: 1px solid #fff;
    background-color: #fd7e14;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.btn-nav:hover {
    background-color: #f38a2e; /* Changement de couleur de fond au survol */
    /* Changement de couleur du texte au survol */
    border: 1px solid #fff;
}


/* Positionnement des boutons gauche et droit */
.left-nav {
    left: 0;
}

.right-nav {
    right: 0;
}

/* Styles pour permettre le défilement horizontal */
.products-row {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth; /* Animation de défilement lisse */
}

.products-row::-webkit-scrollbar {
    display: none; /* Masquer la barre de défilement sur les navigateurs WebKit */
}

/* CSS pour réduire l'espace entre les produits */
.produit-item {
    margin: 0; /* Enlevez toute marge supplémentaire */
    padding: 0; /* Ajustez le padding pour contrôler l'espace interne */
  }
  
  .products-row .col-6, .products-row .col-sm-4, .products-row .col-md-4, .products-row .col-lg-3, .products-row .col-xl-2 {
    padding: 5px;
  }
  

  .carousel-item img {
    max-width: 100%; /* La largeur maximale de l'image est de 100% de la largeur du parent */
    height: 200px; /* La hauteur s'ajuste automatiquement pour conserver les proportions */
  }
  @media (max-width: 992.00px) {
    .carousel-item img {
        max-width: 100%;
        height: 151px; 
       
    }

}


