.categories {
	overflow: hidden;
	margin-top: 0px;
}

.categories .container-fluid {
	padding-right: 5px;
}

.categories__item {
	height: 314px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-left: 0px;
	margin-bottom: 10px;
	margin-right: 0px;
}

.categories__item.categories__large__item {
	height: 638px;
	padding-left: 0px;
}

.categories__item.categories__large__item .categories__text {
	max-width: 480px;
}

.categories__item.categories__large__item .categories__text p {
	margin-bottom: 15px;
}


.categories__text h1 {
	font-family: "Cookie", cursive;
	color: #111111;
	margin-bottom: 5px;
}

.categories__text h4 {
	color: #111111;
	font-weight: 700;
    margin-top: 20px;
    
}

#text{
    margin-top: 300px;
  
}


.categories__text a {
	font-size: 14px;
	color: #111111;
	text-transform: uppercase;
	font-weight: 600;
	position: relative;
	padding: 0 0 3px;
	display: inline-block;
}

.categories__text a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 100%;
	background: #ca1515;
	content: "";
}


/*//////////////produit//////////////////////*/

/*//////////////produit//////////////////////*/

.title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.bootdey .box-product-outer {
    /* width: calc(20% - 10px); /* Pour que chaque produit occupe 25% de la largeur de son conteneur */
    margin-bottom: 25px;
}

.padding-bottom-sm {
    padding-bottom: 10px;
}

.box-product-outer {
    width: calc(15% - 40px);
    margin-bottom: 20px;
}

@media (max-width: 1199.98px) {
    .box-product-outer {
        width: calc(33.33% - 10px);
    }
}

@media (max-width: 991.98px) {
    .box-product-outer {
        width: calc(50% - 10px);
    }
}

@media (max-width: 767.98px) {
    .box-product-outer {
        width: calc(50% - 10px);
    }
}

.box-product-outer:hover {
    outline: 1px solid #aaa;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.tab-content .box-product-outer {
    margin-bottom: 0;
}

.box-product-slider-outer {
    padding: 10px;
}

.box-product .img-wrapper {
    position: relative;
    overflow: hidden;
}

.box-product .img-wrapper > :first-child {
    position: relative;
    display: block;
}

.box-product .img-wrapper > a > img {
    width: 100%;
    border-radius: 10px;
}

.box-product .img-wrapper .tags {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    overflow: visible;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    vertical-align: inherit;
    border-width: 0;
    background-color: transparent;
    direction: rtl;
}

.box-product .img-wrapper .tags-left {
    left: 0;
    direction: ltr;
}

.box-product .img-wrapper .tags > .label-tags {
    display: table;
    margin: 1px 0 0 0;
    text-align: left;
    opacity: .92;
    filter: alpha(opacity=92);
    direction: ltr;
}

.box-product .img-wrapper .tags > .label-tags:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.box-product .img-wrapper .tags > .label-tags a:hover {
    text-decoration: none;
}

.box-product .img-wrapper > .option {
    position: absolute;
    top: auto;
    right: 0;
    bottom: -30px;
    left: 0;
    width: auto;
    height: 28px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, .55);
}

.box-product .img-wrapper .option > a {
    font-size: 18px;
    font-weight: normal;
    display: inline-block;
    padding: 0 1px;
    color: #fff;
}

.box-product .img-wrapper img {
    margin-top: 10px;
    width: 100%;
    height: 100px; /* Spécifiez la hauteur fixe désirée pour toutes les images */
    object-fit: cover; /* Assure que les images conservent leur ratio et remplissent la zone définie */
}
.box-product .img-wrapper:hover > .option {
    top: auto;
    bottom: 0;
}

.nameproduct {
    margin-top: 10px;
    font-size: 1.0em;
    color: #000;

}

.price {
    background-color: #F56B2A;
    color: #ffff;
    border-right: 1px solid ; /* Ajoute une bordure rouge */
   /* border-radius: 0 0 100px;/* Arrondit les coins de la bordure */
    padding: 5px 10px; /* Ajoute un peu d'espace autour du texte */
    left: 100%;
}



.eyes {
    /*display: flex; 
    align-items: center; 
    margin-left: 40%;
    margin-bottom: 10px;*/
    background-color:#5161ce ;
}