<app-header></app-header>
<div>
    <section class="categories">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 p-0">
            <div class="categories__item categories__large__item position-relative">
              <img src="../assets/img/categories/category-6.jpg" alt="Mode Femme">
              <div class="categories__text position-absolute ">
                <h1>Mode Femme</h1>
                <a href="#">ACHETEZ MAINTENANT</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                <div class="categories__item position-relative">
                  <img src="../assets/img/categories/category-2.jpg" alt="Mode Homme" height="369px" >
                  <div class="categories__text position-absolute ">
                    <h4>Mode Homme</h4>
                    <a href="#">ACHETEZ MAINTENANT</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                <div class="categories__item position-relative">
                  <img src="../assets/img/categories/category-3.jpg" alt="Mode Enfant" height="369px">
                  <div class="categories__text position-absolute ">
                    <h4>Mode Enfant</h4>
                    <a href="#">ACHETEZ MAINTENANT</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                <div class="categories__item position-relative">
                  <img src="../assets/img/categories/category-7.jpg" alt="Technologie" height="369px">
                  <div class="categories__text position-absolute ">
                    <h4>Technologie</h4>
                    <a href="#">ACHETEZ MAINTENANT</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                <div class="categories__item position-relative">
                  <img src="../assets/img/categories/category-8.jpg" alt="Maison & Jardin" height="369px">
                  <div class="categories__text position-absolute ">
                    <h4>Maison & Jardin</h4>
                    <a href="#">ACHETEZ MAINTENANT</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<app-produit></app-produit>
<app-footer></app-footer>